<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  NO hay paises que mostrar
</div>

<ng-template #table>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-center text-sm font-light text-surface dark:text-white">
            <thead class="border-b border-neutral-200 bg-[#68829b] font-medium text-white dark:border-white/10">
              <tr>
                <th scope="col" class=" px-6 py-4 text-left">#</th>
                <th scope="col" class=" px-6 py-4 text-left">Icon</th>
                <th scope="col" class=" px-6 py-4 text-left">Bandera</th>
                <th scope="col" class=" px-6 py-4 text-left">Nombre Capital</th>
                <th scope="col" class=" px-6 py-4">Poblacion</th>
                <th scope="col" class=" px-6 py-4">Idioma</th>

              </tr>
            </thead>
            <tbody *ngFor="let country of countries; let i = index">
              <tr class="border-b border-neutral-200 dark:border-white/10">
                <td class="whitespace-nowrap  px-6 py-4 text-left"> {{i + 1}}</td>
                <td class="whitespace-nowrap  px-6 py-4 text-left"> {{country.flag}}</td>
                <td class="whitespace-nowrap  px-6 py-4 text-left">
                  <img [src]="country.flags.svg" alt="country.name.common"></td>
                <td class="whitespace-nowrap  px-6 py-4 text-left"> {{country.capital}}</td>
                <td class="whitespace-nowrap  px-6 py-4 text-center">{{country.population | number}}</td>
                <td class="whitespace-nowrap  px-6 py-4 text-center">{{country.languages.spa}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>
